body {
    margin: 0;
    padding: 0;
}

.form {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #179299;
    padding: 20px;
    border-radius: 10px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    color: #4c4f69;
    flex:1;
    font-size: 24px;
}
.content img{
    max-width: 200px;
}
